.body{
    margin: 0;
    padding: 0;
}
.box1 {
    width: 100%;
    height: 150px;
}
.box2 {
    width: 18%;
    height: 100px;
    margin: 1%;
    float: left;
    border-radius: 10px; 
    text-align: center;
    line-height: 100px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    
}
.borcelle-food {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 178, 54); 
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    text-align: center;
}
.box3 {
    width: 50%;
    height: 600px;
    float: left;
}
.button1 {
    display: flex; 
    margin-top: 10px; 
}
.a1{
    color:red;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: 3.1em;
}
.a2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}
button {
    margin: 5px;
    padding: 15px 50px;
    background-color: gold; 
    color: black; 
    border: none;
    border-radius: 15px; 
}
.box4 {
    width: 50%;
    height: 600px;
    float: right;
}
.box5 {
    width: 100%;
    height: 300px;
    float: right;
}
.box6 {
    width: 46%;
    height: 280px;
    float: left;
    margin: 2%;
}
.box7 {
    width: 100%;
    height: 300px;
    float: left;
    margin: 1%;
}
.big3 {
    width: 50%;
    height: 600px;
    float: right;
}
.box8 {
    width: 25.5%;
    height: 280px;
    float: left;
    margin: 1%;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 40px; 
}
.a0{
    width: 90%; margin: auto;
}